@using SFA.DAS.ApprenticePortal.Authentication
@using SFA.DAS.ApprenticePortal.SharedUi.Menu

@{
    var welcomeText = ViewData.WelcomeText() ?? User.FullName();
    var selected = ViewData.SelectedNavigationSection();

    string navigationListClassName(NavigationSection section) =>
        section == selected ? "govuk-service-navigation__item govuk-service-navigation__item--active" : "govuk-service-navigation__item";

    var showGovSignInOptions = ViewData.UseGovSignIn();
}
<header class="rebranded-cross-service-header dfe-branding" data-module="one-login-header">
    <div class="rebranded-one-login-header" data-one-login-header-nav>
        <div class="rebranded-one-login-header__container govuk-width-container">
            <div class="rebranded-one-login-header__logo">
                <a
                    href="https://www.gov.uk/"
                    class="rebranded-one-login-header__link rebranded-one-login-header__link--homepage das-header__dfe-logo-link"
                >
                    <img
                        src="/images/department-for-education_white.png"
                        alt="Department for Education"
                        class="das-header__dfe-logo"
                    />
                </a>
            </div>
            <button
                type="button"
                aria-controls="one-login-header__nav"
                aria-label="Show account menu"
                data-open-class="rebranded-cross-service-header__toggle--open"
                data-label-for-show="Show account menu"
                data-label-for-hide="Hide account menu"
                aria-expanded="false"
                class="rebranded-cross-service-header__toggle js-x-header-toggle das-header__toggle"
            >
        <span class="rebranded-cross-service-header__toggle-content-wrapper">
          <span class="rebranded-cross-service-header__toggle-content">Account</span>
        </span>
            </button>
            <nav
                aria-label="GOV.UK One Login"
                class="rebranded-one-login-header__nav"
                data-open-class="rebranded-one-login-header__nav--open"
                id="one-login-header__nav"
            >
                <ul class="rebranded-one-login-header__nav__list">
                    @if (@User.Identity.IsAuthenticated)
                    {
                    <li class="rebranded-one-login-header__nav__list-item das-header__nav__list-item">
                        <a
                            class="rebranded-one-login-header__nav__link das-header__nav__link--has-menu"
                            href="#provider-settings"
                            aria-controls="provider-settings">
                            <span
                                class="rebranded-one-login-header__nav__link-content das-header__nav__link-content">Settings</span
                            >
                        </a>
                        <ul class="das-header__sub-menu" id="provider-settings">
                            <li class="das-header__sub-menu-item" role="menuitem">
                                <a asp-external-section="PersonalDetails"
                                   class="das-header__sub-menu-link">Change your personal details</a>
                            </li>

                            @if (showGovSignInOptions)
                            {
                                <li class="das-header__sub-menu-item" role="menuitem">
                                    <a asp-external-section="SignInDetails"
                                       class="das-header__sub-menu-link">Change your sign in details</a>
                                </li>
                            }
                            else
                            {
                                <li class="das-header__sub-menu-item" role="menuitem">
                                    <a asp-external-section="Login"
                                       asp-external-page="ForgottenPassword/36BCFAAD-1FF7-49CB-8EEF-19877B7AD0C9/"
                                       class="das-header__sub-menu-link">Change your password</a>
                                </li>
                                <li class="das-header__sub-menu-item" role="menuitem">
                                    <a asp-external-section="Login"
                                       asp-external-page="profile/36BCFAAD-1FF7-49CB-8EEF-19877B7AD0C9/changeemail"
                                       class="das-header__sub-menu-link">Change your email address</a>
                                </li>

                            }

                            <li class="das-header__sub-menu-item" role="menuitem">
                                <a asp-external-section="NotificationSettings"
                                   class="das-header__sub-menu-link">Change your notification
                                    settings</a>
                            </li>

                        </ul>
                    </li>
                    <li class="rebranded-one-login-header__nav__list-item das-header__nav__list-item">
                        <a asp-external-section="@NavigationSection.ConfirmMyApprenticeship"
                           asp-external-page="SignOut" asp-always-show=true
                           class="rebranded-one-login-header__nav__link">
                            <span
                                class="rebranded-one-login-header__nav__link-content das-header__nav__link-content">Sign out</span
                            ></a>
                    </li>
                }
                else
                {
                    
                }
                </ul>
            </nav>
        </div>
    </div>

    <section aria-label="Service information" class="govuk-service-navigation das-header__navigation">
        <div class="govuk-width-container">
            <div class="govuk-service-navigation__container das-header__navigation__container">
                <div class="das-header__service-user-name-wrap">
                    <span class="govuk-service-navigation__service-name">
                        <span class="govuk-service-navigation__text">My apprenticeship</span>
                    </span>
                    @if (@User.Identity.IsAuthenticated)
                    {
                        <p class="das-header__user-name">
                            @welcomeText
                        </p>
                    }
                </div>
                @if (@User.Identity.IsAuthenticated)
                {
                    @if (ViewData.IsNavigationMenuVisible())
                    {
                        <nav
                            aria-label="Menu"
                            class="govuk-service-navigation__wrapper das-header__navigation__wrapper">
                            <ul class="govuk-service-navigation__list das-header__navigation__list">
                                <li class="@navigationListClassName(NavigationSection.Home)"><a class="govuk-service-navigation__link" asp-external-section="Home" asp-external-page="Home">Home</a></li>
                                <li class="@navigationListClassName(NavigationSection.ConfirmMyApprenticeship)"><a class="govuk-service-navigation__link" asp-external-section="ConfirmMyApprenticeship" asp-external-page="Apprenticeships"><text asp-confirm-apprenticeship-menu-name></text></a></li>
                                <li class="@navigationListClassName(NavigationSection.ApprenticeFeedback)"><a class="govuk-service-navigation__link" asp-external-section="ApprenticeFeedback">Feedback on your training provider</a></li>
                                <li class="@navigationListClassName(NavigationSection.ApprenticeAan)"><a class="govuk-service-navigation__link" asp-external-section="ApprenticeAan">Apprenticeship ambassador network</a></li>
                                <li class="@navigationListClassName(NavigationSection.HelpAndSupport)"><a class="govuk-service-navigation__link" asp-external-section="Home" asp-external-page="HelpAndSupport">Help and support</a></li>
                            </ul>
                        </nav>
                    }
                }
            </div>
        </div>
    </section>
</header>