@using SFA.DAS.ApprenticePortal.SharedUi.GoogleAnalytics
@using Microsoft.Extensions.Configuration
@using SFA.DAS.ApprenticePortal.SharedUi.Menu
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded dfe-branding">

<head>
    <partial name="_GoogleAnalytics" model="GoogleAnalyticsTag.Head" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="theme-color" content="#1d70b8" />
    <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico" />
    <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml" />
    <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#1d70b8" />
    <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png" />

    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/apprentice.css" rel="stylesheet" />

    @RenderSection("head", false)

    <title>@ViewData["Title"]</title>
</head>

<body class="govuk-template__body">

    <partial name="_GoogleAnalytics" model="GoogleAnalyticsTag.Body" />

    <script>
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <partial name="_ZenDeskWidget" />

    <partial name="_CookieBanner" />

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <partial name="_Header" />

    @RenderSection("AfterHeader", required: false)

    <div class="govuk-width-container">
        <partial name="_BreadCrumbs" optional="true" />
        @RenderSection("BreadCrumbs", required: false)
    </div>

    <div class="govuk-width-container ">
        <main class="govuk-main-wrapper " id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />

    <script type="module" src="/libs/govuk-frontend/govuk-frontend.min.js"></script>
    <script type="module">
        import {
            initAll
        } from '@Configuration["cdn:url"]/libs/govuk-frontend/govuk-frontend.min.js'
        initAll()
    </script>

    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/js/das-all.js"></script>
    <script src="/js/app.min.js"></script>
    @RenderSection("DasScripts", required: false)
    <script>
        window.DASFrontend.initAll();
    </script>
    <script src="/js/apprentice.min.js"></script>
    @RenderSection("Scripts", required: false)


</body>

</html>