@using SFA.DAS.ApprenticePortal.SharedUi.Menu
@using SFA.DAS.ApprenticePortal.SharedUi.Identity

@{
    var welcomeText = ViewData.WelcomeText() ?? User.FullName();
    var selected = ViewData.SelectedNavigationSection();

    string navigationClass(NavigationSection section) =>
        section == selected ? "das-navigation__link das-navigation__link--current" : "das-navigation__link";

}

<div class="app-user-header">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <p class="govuk-body-l app-user-header__name">
                    <span>@welcomeText</span>&nbsp;
                </p>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="das-account-header">
                    <nav class="das-user-navigation" id="das-user-navigation">
                        <ul class="das-user-navigation__list" role="menu">
                            <li role="menuitem" class="das-user-navigation__list-item das-user-navigation__list-item--has-sub-menu">
                                <a href="/" class="das-user-navigation__link">Account settings</a>
                                <ul role="menu" class="das-user-navigation__sub-menu js-hidden">
                                    <li class="das-user-navigation__sub-menu-link govuk-!-font-size-16" role="menuitem">
                                        <a asp-external-section="@NavigationSection.Login" asp-external-page="ForgottenPassword/36BCFAAD-1FF7-49CB-8EEF-19877B7AD0C9/">Change your password</a>
                                    </li>
                                    <li class="das-user-navigation__sub-menu-link govuk-!-font-size-16" role="menuitem">
                                        <a asp-external-section="@NavigationSection.Login" asp-external-page="profile/36BCFAAD-1FF7-49CB-8EEF-19877B7AD0C9/changeemail">Change your email address</a>
                                    </li>
                                </ul>
                            </li>
                            <li role="menuitem" class="das-user-navigation__list-item">
                                <a asp-external-section="@NavigationSection.ConfirmMyApprenticeship" asp-external-page="SignOut" asp-always-show=true class="das-user-navigation__link">Sign out</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewData.IsNavigationMenuVisible())
{
<div class="das-account-header das-account-header--apprentice">
    <div class="govuk-width-container">
        <nav class="das-user-navigation das-user-navigation__left" id="das-user-navigation">
            <ul class="das-user-navigation__list" role="menu">
                <li class="das-navigation__list-item">
                    <a asp-external-section="Home" asp-external-page="Home" class="@navigationClass(NavigationSection.Home)">Home</a>
                </li>
                <li class="das-navigation__list-item" asp-for-external-section="ConfirmMyApprenticeship">
                    <a asp-external-section="ConfirmMyApprenticeship" asp-external-page="Apprenticeships" class="@navigationClass(NavigationSection.ConfirmMyApprenticeship)">Confirm my apprenticeship details</a>
                </li>
                <li class="das-navigation__list-item">
                    <a asp-external-section="Home" asp-external-page="HelpAndSupport" class="@navigationClass(NavigationSection.HelpAndSupport)">Help and support</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
}