@using SFA.DAS.ApprenticePortal.Authentication
@using SFA.DAS.ApprenticePortal.SharedUi.Menu

@{
    var welcomeText = ViewData.WelcomeText() ?? User.FullName();
    var selected = ViewData.SelectedNavigationSection();

    string navigationClass(NavigationSection section) =>
        section == selected ? "app-navigation__link app-navigation__link--selected" : "app-navigation__link";

}

<div class="app-user-header">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <p class="govuk-body-l app-user-header__name">
                    <span>@welcomeText</span>&nbsp;
                </p>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="das-account-header">
                    <nav class="das-user-navigation" id="das-user-navigation">
                        <ul class="das-user-navigation__list" role="menu">
                            <li role="menuitem" class="das-user-navigation__list-item das-user-navigation__list-item--has-sub-menu">
                                <a href="/" class="das-user-navigation__link">Account settings</a>
                                <ul role="menu" class="das-user-navigation__sub-menu js-hidden govuk-!-font-size-16">
                                    <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
                                        <a asp-external-section="PersonalDetails" class="das-user-navigation__sub-menu-link">Change your personal details</a>
                                    </li>
                                    <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
                                        <a asp-external-section="Login" asp-external-page="ForgottenPassword/36BCFAAD-1FF7-49CB-8EEF-19877B7AD0C9/" class="das-user-navigation__sub-menu-link">Change your password</a>
                                    </li>
                                    <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
                                        <a asp-external-section="Login" asp-external-page="profile/36BCFAAD-1FF7-49CB-8EEF-19877B7AD0C9/changeemail" class="das-user-navigation__sub-menu-link">Change your email address</a>
                                    </li>
                                    <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
                                        <a asp-external-section="NotificationSettings" class="das-user-navigation__sub-menu-link">Change your email notification settings</a>
                                    </li>
                                </ul>
                            </li>
                            <li role="menuitem" class="das-user-navigation__list-item">
                                <a asp-external-section="@NavigationSection.ConfirmMyApprenticeship" asp-external-page="SignOut" asp-always-show=true class="das-user-navigation__link">Sign out</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_BetaBanner" />

@if (ViewData.IsNavigationMenuVisible())
{
<div class="app-navigation app-navigation--employers" data-app-navigation="true">
    <div class="govuk-width-container">
        <a href="#navigation" class="app-navigation__toggle" data-app-nav-toggle="true">
            Menu
        </a>
        <nav class="app-navigation__nav" data-app-nav-menu="true" id="navigation">
            <h3 class="govuk-visually-hidden app-navigation__heading" id="app-nav-title">Navigation</h3>
            <ul class="app-navigation__list" aria-labelledby="app-nav-title">
                <li class="app-navigation__list-item">
                    <a asp-external-section="Home" asp-external-page="Home" class="@navigationClass(NavigationSection.Home)">Home</a>
                </li>
                <li class="app-navigation__list-item">
                    <a asp-external-section="ConfirmMyApprenticeship" asp-external-page="Apprenticeships" class="@navigationClass(NavigationSection.ConfirmMyApprenticeship)">Confirm my apprenticeship details</a>
                </li>
                <li class="app-navigation__list-item">
                    <a asp-external-section="ApprenticeFeedback" class="@navigationClass(NavigationSection.ApprenticeFeedback)">Feedback on your training provider</a>
                </li>
                <li class="app-navigation__list-item">
                    <a asp-external-section="Home" asp-external-page="HelpAndSupport" class="@navigationClass(NavigationSection.HelpAndSupport)">Help and support</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
}