@page
@model SFA.DAS.ApprenticePortal.Web.Pages.HomeModel
@using SFA.DAS.ApprenticePortal.Authentication
@using SFA.DAS.ApprenticePortal.Web.Models
@{
    ViewData["Title"] = "Welcome";
}



<div class="dashboard-page">
    <div class="govuk-width-container">
        <div class="govuk-grid-row dashboard-title">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">
                    Welcome, @User.FullName()
                    <span class="govuk-caption-m">@Model.HomePageModel?.CourseName</span>
                </h1>
            </div>
        </div>
    </div>
</div>

<main class="govuk-main-wrapper--autosspacing homepage" id="main-content" role="main">

    <partial name="_HomeNotifications" , model=@Model />

    <div class="govuk-width-container" id="dashboard-section">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <ul class="dashboard-nav dashboard-li">
                    <li asp-show="@Model.HomePageModel.ShowConfirmMyApprenticeshipCard">
                        <strong asp-show="@Model.HomePageModel.ShowMyApprenticeshipCard" class="dashboard__status-tag govuk-tag govuk-tag--yellow">Unconfirmed</strong>
                        <h2 class="govuk-heading-m">
                            <a class="govuk-link govuk-link--no-visited-state" asp-external-section="ConfirmMyApprenticeship" asp-external-page="Apprenticeships">
                                Confirm my apprenticeship details
                            </a>
                        </h2>
                        @if (Model.HomePageModel.Status() == ApprenticeshipStatus.Stopped)
                        {
                            <strong class="dashboard__status-tag govuk-tag app-tag--dark-grey">Stopped</strong>
                        }
                        else if (Model.HomePageModel.Status() == ApprenticeshipStatus.Incomplete && !Model.HomePageModel.ShowMyApprenticeshipCard)
                        {
                            <strong class="dashboard__status-tag govuk-tag govuk-tag--yellow">Incomplete</strong>
                        }
                        <p asp-hide="@Model.HomePageModel.ShowMyApprenticeshipCard">Confirm details of your employer, training provider and apprenticeship.</p>
                        <p asp-show="@Model.HomePageModel.ShowMyApprenticeshipCard">Changes have been made to your apprenticeship details. Confirm your new details.</p>
                    </li>
                    <li asp-show="@Model.HomePageModel.ShowMyApprenticeshipCard">
                        <h2 class="govuk-heading-m">
                            <a class="govuk-link govuk-link--no-visited-state" asp-external-section="MyApprenticeship" asp-external-page="Apprenticeships/@Model.HomePageModel.CurrentHashedApprenticeshipId/view">
                                My apprenticeship details
                            </a>
                        </h2>
                        <p>Details of your employer, training provider and apprenticeship.</p>
                    </li>
                    <li asp-for-external-section="ApprenticeFeedback">
                        <h2 class="govuk-heading-m">
                            <a class="govuk-link govuk-link--no-visited-state" asp-external-section="ApprenticeFeedback">
                                Feedback on your training provider
                            </a>
                        </h2>
                        <p>Let us know how you're getting on with your apprenticeship and how your training provider can improve to help other apprentices.</p>
                    </li>
                    <li>
                        <h2 class="govuk-heading-m">
                            <a class="govuk-link govuk-link--no-visited-state" asp-page="HelpAndSupport" model="Model">
                                Help and support
                            </a>
                        </h2>
                        <p>Who to contact if you have questions or concerns during your apprenticeship.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>